# Файл .dockerignore

# Игнорируем виртуальное окружение
venv

# Игнорируем файлы Git
.git

# Игнорируем базу данных SQLite
db.sqlite3

# Игнорируем файлы IDE
.idea/
.vscode/
*.iml

# Игнорируем файлы с переменными окружения
.env
*.env